* {
  font-family: arial, helvetica, sans-serif;
}
header {
  background-color: rgba(113, 156, 142, 0.678);
  border-radius: 7px;
  color: white;
  text-align: center;
}
main {
  background-color: #00eeff6c;
  border-radius: 5px;

  a {
    color: #d2ddd9;
  }
  button {
    background-color: #04aa6d;
    border: #04aa6d;
    border-radius: 5px;
  }
}

body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d2/Arquip%C3%A9lago_de_Fernando_de_Noronha.jpg);
  background-size: cover;
}
footer {
  background-color: rgb(38, 105, 91);
  border-radius: 5px;
}
